<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nsop.jusodemo.service.impl.JusoDataMapper">

    <select id="selectJusoList" resultType="jusoDataVO">
        SELECT
            SE_CD AS seCd,
            GP_CD AS gpCd,
            FCLTY_CD AS fcltyCd,
            FCLTY_NM AS fcltyNm,
            LNMADR AS lnmadr,
            RDNMADR AS rdnmadr,
            la AS la,
            lo AS lo
        FROM tb_p100m02
        limit 30
    </select>

    <insert id="insertMergeVWJuso" parameterType="mergeJusoDataVO">
        insert into tb_p100m02_test(
            se_cd,
            gp_cd,
            fclty_cd,
            fclty_nm,
            lnmadr,
            rdnmadr
            la,
            lo,
            vw_id,
            vw_lnmadr,
            vw_rdnmadr,
            vw_la,
            vw_lo,
            vw_fclty_nm,
            vw_yn
        ) values (
            #{seCd},
            #{gpCd},
            #{fcltyCd},
            #{fcltyNm},
            #{lnmadr},
            #{rdnmadr},
            #{la},
            #{lo},
            #{vwId},
            #{vwLnmadr},
            #{vwRdnmadr},
            #{vwLa},
            #{vwLo},
            #{vwFcltyNm},
            #{vwYn},
        );
    </insert>

    <insert id="insertMergeVWJusoList" parameterType="java.util.List">
        <!-- iterate through each MergeJusoDataVO in the list -->
        <foreach collection="list" item="item" index="index" separator=";">
            insert into tb_p100m02_test (
            se_cd,
            gp_cd,
            fclty_cd,
            fclty_nm,
            lnmadr,
            rdnmadr,
            la,
            lo,
            vw_id,
            vw_lnmadr,
            vw_rdnmadr,
            vw_la,
            vw_lo,
            vw_fclty_nm,
            vw_yn
            ) values (
            #{item.seCd},
            #{item.gpCd},
            #{item.fcltyCd},
            #{item.fcltyNm},
            #{item.lnmadr},
            #{item.rdnmadr},
            #{item.la},
            #{item.lo},
            #{item.vwId},
            #{item.vwLnmadr},
            #{item.vwRdnmadr},
            #{item.vwLa},
            #{item.vwLo},
            #{item.vwFcltyNm},
            #{item.vwYn}
            )
        </foreach>
    </insert>
</mapper>
